.headerLayout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: .5rem 1rem;
}

.leftHeader {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.middleHeader {
    font-size: 24px;
}


.rightHeader {
    display: flex;
    align-items: center;
}

.countdownGroup {
    margin-right: 2rem;
}

.submitBtn {
    padding: .5rem 2rem;
    font-weight: 500;
    background-color: #ECECEC;
    color: black;
    border-radius: .25rem;
    cursor: pointer;
}
